@charset "UTF-8";
/* CSS Document */

.bread {
	list-style: none;
	overflow: hidden;
}
.bread li {
	float: left;
	line-height: 60px;
}
.bread li a {
	display: block;
	float: left;
	padding: 0 40px 0 50px;
	font-weight:bold;
	color: #666666;
	text-decoration: none;
	/* CSS3 */
	background: -moz-linear-gradient(left, #EDEDED, #CCCCCC);
	background: -webkit-linear-gradient(left, #EDEDED, #CCCCCC);
	background: -ms-linear-gradient(left, #EDEDED, #CCCCCC);
	background: linear-gradient(left, #EDEDED, #CCCCCC);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#CCCCCC',GradientType=1 );
	background-color:#CCCCCC;
	text-shadow: 1px 1px 0 #FFFFFF;
}
.bread li a::before {
	display: block;
	width: 15px;
	height: 30px;
	border-right: 5px solid #FFFFFF;
	margin:0 -50px -30px auto;
	background-color: #CCCCCC;
	/* CSS3 */
	content: " ";
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	transform: skew(30deg);
}
.bread li a::after {
	display: block;
	width: 15px;
	height: 30px;
	border-right: 5px solid #FFFFFF;
	margin:-30px -50px 0 auto;
	background-color: #CCCCCC;
	/* CSS3 */
	content: " ";
	-webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	transform: skew(-30deg);
}
.bread li.current a {
	color: #FFFFFF;
	/* CSS3 */
	background: -moz-linear-gradient(left, #E69A4F, #BA4A0A);
	background: -webkit-linear-gradient(left, #E69A4F, #BA4A0A);
	background: -ms-linear-gradient(left, #E69A4F, #BA4A0A);
	background: linear-gradient(left, #E69A4F, #BA4A0A);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E69A4F', endColorstr='#BA4A0A',GradientType=1 );
	background-color:#BA4A0A;
	text-shadow: 1px 1px 0 #BA4A0A;
}
.bread li.current a::before,
.bread li.current a::after {
	background-color: #BA4A0A;
}
.bread li a:hover {
	color: #FFFFFF;
	/* CSS3 */
	background: -moz-linear-gradient(left, #CCCCCC, #999999);
	background: -webkit-linear-gradient(left, #CCCCCC, #999999);
	background: -ms-linear-gradient(left, #CCCCCC, #999999);
	background: linear-gradient(left, #CCCCCC, #999999);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#999999',GradientType=1 );
	background-color:#999999;
	text-shadow: 1px 1px 0 #999999;
}
.bread li a:hover::before,
.bread li a:hover::after {
	background: #999999;
}
.bread li.current a:hover {
	/* CSS3 */
	background: -moz-linear-gradient(left, #CB6925, #A03200);
	background: -webkit-linear-gradient(left, #CB6925, #A03200);
	background: -ms-linear-gradient(left, #CB6925, #A03200);
	background: linear-gradient(left, #CB6925, #A03200);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CB6925', endColorstr='#A03200',GradientType=1 );
	background-color:#A03200;
	text-shadow: 1px 1px 0 #A03200;
}
.bread li.current a:hover::before,
.bread li.current a:hover::after {
	background: #A03200;
}