@charset "UTF-8";
/**
 * レスポンシブ スタイル
 * ミドルサイズ（920px～361px）
 */
/* window width 360px over */
#header {
  width: 674px;
  padding: 0 24px;
}

#area-visual {
  padding: 0 24px;
}
#area-visual .container {
  width: 674px;
  height: 276px;
}
#area-visual .container h1 {
  width: 240px;
  padding-top: 30px;
}
#area-visual .container p {
  font-size: 10px;
}
#area-visual .container .content {
  width: 44.51%;
}

#area-content {
  padding: 0 24px;
}
#area-content .container {
  width: 674px;
}
#area-content .container .content {
  padding: 12px 0 12px 48px;
}
