@charset "utf-8";
/*-----------------------------------------------*/
/* Normalize of user agent stylesheet -----------*/
html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p,
header, hgroup, section, article, aside, hgroup, footer, figure, figcaption, nav {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

body {
  position: relative;
  width: 100%;
  line-height: 1.0;
  -webkit-text-size-adjust: none;
  background: #FFF; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

img {
  zoom: .5;
  border: 0; }

ul, ol {
  list-style: none; }

table {
  border-spacing: 0;
  empty-cells: show; }

a, a:link, a:visited, a:hover, a:active {
  color: #000;
  text-decoration: none; }

/*-----------------------------------------------*/
/* GlobalHeader ---------------------------------*/
header {
  height:62px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #093a67), color-stop(100%, #00142c));
	background-image: -webkit-linear-gradient(-90deg, #093a67 0%, #00142c 100%);
	background-image: linear-gradient(-90deg, #093a67 0%, #00142c 100%);
}
header .globalHeaderLogo {
}

/*-----------------------------------------------*/
/* Main Article ---------------------------------*/
.mainArticle{
}
.mainHead{
	padding:10px 0px 10px 20px;
	background-color:#c0e1ff;
	border-bottom:3px #093966 solid;
}
.mainHead h1{
	font-size:20px;
	line-height:1.4em;
}
.mainHead p{
	font-size:15px;
}

/*-----------------------------------------------*/
/* Global Footer --------------------------------*/
.globalFooter {
	height: 28px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #093a67), color-stop(100%, #00142c));
	background-image: -webkit-linear-gradient(-90deg, #093a67 0%, #00142c 100%);
	background-image: linear-gradient(-90deg, #093a67 0%, #00142c 100%);
}

.copyringht {
	display: block;
	height: 28px;
	font-size:12px;
	line-height:28px;
	text-align: center;
	color:#fff;
}