@charset "utf-8";

/* ------- Set ------- */

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, img {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background:#FFF;
	font-family: 'Arial', sans-serif;
	font-size: 12px;
}

a {
	text-decoration:none;
}

/* ------- menu ------- */

/*position and hide the menu initially - leave room for menu items to expand...*/
#wrapper {
	margin: 0px auto;
	width: 100%;
}

#menu {
	position:absolute;
	top:150px;
	left:0;
	width:100%;
	display:none;
}

/*dock styling...*/
/*...centre the dock...*/
#menu div.jqDockWrap {
	margin:0 auto;
}

/*label styling...*/
div.jqDockLabel {
	padding:3px 10px;
	white-space:nowrap;
	color:#000;
}
