body {
	background: #fff;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#graph {
	margin: 30px auto 0;
	padding: 20px;
	width: 454px;
}
#graph h1 {
	float: left;
	padding: 10px 0 0;
	color: #58ba27;
	font-weight: bold;
	font-size: 116%;
}
p.start {
	padding: 0 0 10px;
	width: 454px;
	background-color: #fff;
	text-align: right;
}
p.start a {
	margin: 0;
	padding: 10px 20px;
	border: 1px solid #58ba27;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 85%;
	background: -webkit-gradient(linear, left top, left bottom, from(#7fd443), to(#58ba27));
	background: -webkit-linear-gradient(top, #7fd443, #58ba27);
	background: -moz-linear-gradient(top, #7fd443, #58ba27);
	background: linear-gradient(top, #7fd443, #58ba27);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#7fd443, endColorstr=#58ba27, GradientType=0);
	display: inline-block;
}
#graph svg {
	margin: 0;
	padding: 0;
	border: 2px solid #58ba27;
	background: #fdf5cf;
}